#games-container {
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
}
.gameboard {
  display: grid;
  grid-template-columns: 1fr repeat(9, 1fr);
  background-color: skyblue;
}

.opponent-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 50px;
  width: 50px;
}

.column {
  border: 1px solid;
  height: 50px;
  width: 50px;
}

#games-container > div {
  text-align: center;
}

#game-end-container {
  text-align: center;
  margin: 2rem 0rem;
}
#game-end {
  margin-bottom: 1rem;
}

.ship-carrier {
  background-color: navy;
}
.ship-battleship {
  background-color: steelblue;
}
.ship-cruiser {
  background-color: darkgreen;
}
.ship-submarine {
  background-color: purple;
}
.ship-destroyer {
  background-color: brown;
}
